.cards-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.title {
  width: "100%";
  text-align: center;
}

.bnt-install {
  width: 100px;
  height: 40px;
  background-color: #01ab49;
  border-radius: 5px;
  border-width: 0px;
  color: #ffffff;
}

.autoinstall-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(20, 60, 36);
  background: linear-gradient(
    180deg,
    rgba(20, 60, 36, 1) 20%,
    rgba(75, 116, 102, 1) 80%,
    rgba(101, 122, 96, 1) 100%
  );
}

.bnt-install:active {
  background-color: #1bc864;
  border-width: 2px;
  border-color: #1bc864;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}

.input-serach {
  padding: 5px 10px 5px 10px;
  width: 50%;
  height: 50px;
  border-radius: 10px;
  background-color: transparent;
  border-width: 0px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(255, 255, 255, 0.4) 100%
  );
  font-size: 20px;
}

.input-serach:active {
  background-color: #ffffff;
  border-width: 0px;
}
