body {
  width: 100vw;
  height: 100vh;
  background: rgb(20, 60, 36);
  background: linear-gradient(
    180deg,
    rgba(20, 60, 36, 1) 20%,
    rgba(75, 116, 102, 1) 80%,
    rgba(101, 122, 96, 1) 100%
  );
  background-repeat: no-repeat;
  overflow-x: hidden;
}
.cards-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  gap: 1rem;
  padding-left: 1rem;
}

.title {
  width: "100%";
  text-align: center;
  color: #ffffff;
}

.header-container svg {
  color: gray;
}
.header-container button {
  position: absolute;
  right: 20px;
  top: 25px;
  background-color: transparent;
  border: none;
}

.header-container button:hover > svg {
  color: white;
}

.bnt-install {
  width: 100px;
  height: 40px;
  background-color: #6a1ca8;
  border-radius: 5px;
  border: none;
  color: #ffffff;
}

.autoinstall-container {
  width: 100%;
}

.top-container {
  position: sticky;
  top: 0;
}

.bnt-install:active {
  background-color: #1bc864;
  border-width: 2px;
  border-color: #1bc864;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}

.input-serach {
  position: relative;
  padding: 5px 10px 5px 10px;
  width: 50%;
  height: 50px;
  border-radius: 10px;
  background-color: transparent;
  border-width: 0px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(255, 255, 255, 0.4) 100%
  );
  font-size: 20px;
}

.input-serach:active {
  background-color: #ffffff;
  border-width: 0px;
}

.icon-search {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 25%;
  margin-top: 13px;
}
