.card-container {
  width: 240px;
  border-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(255, 255, 255, 0.4) 100%
  );
  position: relative;
}

.button-card {
  width: 300px;
  border-width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: transparent;
  position: relative;
}

.logo {
  width: 90px;
  height: 90px;
}

.check {
  width: 50px;
  right: 10px;
  bottom: 10px;
  position: absolute;
}

.select-versions {
  width: 100px;
  height: 30px;
  font-size: 18px;
  background: rgba(217, 217, 217, 0.57);
  border-radius: 5px;
  border-width: 0;
  font-weight: 600;
  text-align: center;
}

.title-card {
  margin-top: 8px;
  font-size: 20px;
  font-weight: 700;
}

.card-selected {
  background-color: #6a1ca8;
}
